<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Clean Blog - Start Bootstrap Theme</title>

  <!-- Head -->
  <%- include component/head %>


</head>

<body>
  <!-- Navigation -->
  <%- include component/navbar %>

  <!-- Header -->
  <%- include component/header %>

  <!-- Main Content -->
  <%- body -%>

  <!-- Footer -->
  <%- include('component/footer') %>
  
  <!-- Script -->
  <%- include('component/script') %>


</body>

</html>